/*para las clases hechas con JS*/

.main{
    &__h6{
        padding-top: 10px;
        padding-bottom: 10px;
        color: $text;
    }

    &__img{
        padding: 10px;
    }
}

.fav{
    background-color: $text;

    .main__h6{
        color: $background-button;
    }
}