$font-principal: 'Albert Sans', sans-serif;
$title-size: 1.5rem; /*24px*/
$subtitle-size: 1rem; /*16px*/
$background-color: #ffd7e3;
$text: #7c6c88;
$background-button: white;
$background-color-dark: #fac5d5;