.header{
    background-image: url("../images/sakura-alex.png");
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 600;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title{
        font-size: $title-size;
        color: $text;
    };
}